{{> admin-tabs}}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}Yes{{else}}No{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
          <button type="submit" class="btn btn-link">{{#if this.isAdmin}}撤銷管理員{{else}}授予管理員{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>