{{> restaurant-tabs route='topRestaurants'}}
<div class="container">
  <h1>Top 10 人氣餐廳</h1>
  <div class="row">
    {{#each restaurants}}
    <div class="col-md-12 mb-4">
      <div class="card flex-md-row">
        <div class="card-img-left flex-auto d-none d-md-block" style="width: 300px;">
          <img src="{{this.image}}" class="card-img" alt="{{this.name}}">
        </div>
        <div class="card-body d-flex flex-column align-items-start">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">收藏數：{{this.favoritedCount}}</p>
          <p class="card-text">{{this.description}}</p>
          <div class="mt-auto">
            <div class="d-flex justify-content-between">
            <a href="/restaurants/{{this.id}}" class="btn btn-primary m-1">Show</a>
            {{#if isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-secondary m-1">移除最愛</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-danger m-1">加到最愛</button>
            </form>
            {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>